<!DOCTYPE html>
<% include ../partials/head %>
<body>
    <% include ../partials/header %>
    <div class="list-box">
        <div class='list-title-box'>
            <h1 class="list-title" contenteditable="true"><%= list.title %></h1>
            <button class='delete-all-entries-btn'><i class="fa fa-lg fa-trash-o"></i></button>
        </div>
        <div class="list-entry-box">
            <% for (var i = 0; i < list.entries.length; i++) { %>
            <div class="entry" id="<%= i %>">
                <button type="button" class="delete-entry-btn"><i class="fa fa-close"></i></button>
                <div class="entry-content" contenteditable="true"><%= list.entries[i].item %></div>
            </div>
            <% } %>
        </div>
        <div class="new-entry">
            <button type="button" class="add-entry-btn"><i class="fa fa-plus"></i></button>
            <div class="new-entry-content" contenteditable="true" data-ph="add"></div>
        </div>
    </div>
    <script>
        var count = <%= list.entries.length %>;
    </script>
    <% include ../partials/footer %>
</body>