<!DOCTYPE html>
<% include ../partials/head %>
<body>
    <% include ../partials/header %>
    <h4 class='form-title'>log in</h4>
    <form action='/login' method='POST' class='form-box'>
            <input type='email' name='email' class='form-input' placeholder='email address' title='email address' required autofocus>
            <input type='password' name='password' class='form-input' placeholder='password' title='password' required>
            <button type='submit' title='Submit' class='form-submit-btn'>submit</button>
    </form>
    <% include ../partials/footer %>
</body>